<section>
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1">Doctor Details</h2>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Details</li>
            </ol> -->
        </div>

    </div>




    <!-- table -->

    <div class="row row-sm">

        <div class="col-lg-12">
          <div class="card custom-card">
                <div class="card-body">
                    <!-- <div class="card-item"> -->

                        <div class="row">
                            <div class="col-md-3">
                                <div class="search-hero">
                                    <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                         <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                       </div>
                                       <input class="form-control" type="text" name="search2"
                                   [(ngModel)]="searchQR" autocomplete="off" placeholder="Search...">
                                     </div>
                                  </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <p-calendar [(ngModel)]="S_Date" [showIcon]="true" inputId="icon" placeholder="Start Date" class="mr-3"></p-calendar>
                                <p-calendar [(ngModel)]="E_Date" [showIcon]="true" inputId="icon" placeholder="End Date" class="mr-3"></p-calendar>
                                
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn btn-primary" (click)="filter_date()"><i class="fas fa-search"></i> Search</button>
                                <button *ngIf="update_button == true" type="button" class="btn btn-primary"
                                    (click)="refersh()"><i class="fas fa-sync-alt"></i> Refresh</button>
                                <button type="button" class="btn btn-primary mr-0" (click)="doc_form()"><i class="fas fa-plus-circle"></i> Add</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-4">
                                <h5 class="form-lable">Specialization:</h5>
                                <p-dropdown [options]="specialzation_list" [(ngModel)]="specialzation_f" placeholder="Select"
                                    optionLabel="specialzation" [showClear]="true"></p-dropdown>
                            </div>
                            <div class="col-md-4">
                                <button *ngIf="update_button == true" type="button" class="btn btn-primary"
                                    style="margin-left: 10px;margin-top: 24px;" (click)="spec_filter()"><i class="fas fa-filter"></i> Filter</button>
                            </div>

                          </div> -->
                        <div class="doc-table" #TABLE>
                            <div class="ui-helper-clearfix" style="text-align: left">
                                <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="EXCEL" (click)="exportAsXLSX()" style="margin-right: 0.5em; margin-bottom: 10px;"></button>
                                <!--  <button type="button" pButton icon="fas fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>          -->
                            </div>

                            <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="15"
                                [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
                                <!-- <ng-template pTemplate="caption">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <div fxFlex="50">
                                        <h5 style="color:#fff;">Entry Type List</h5>
                                    </div>
                                    <div fxFlex="50">
                                        <div class="ui-table-globalfilter-container">
                                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Entry Type">
                                        </div>
                                    </div>

                                </div>

                            </ng-template> -->
                                <ng-template pTemplate="header">
                                    <tr class="thhead">
                                        <th class="th-1">
                                            S.No
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th style="width: 120px;">
                                            Name
                                        </th>
                                        <th style="width: 120px;">
                                          Clinic Name
                                      </th>
                                      <th style="width: 120px;">
                                        login N & N
                                       </th>
                                        <th style="width: 120px;">
                                            Education / Year of completion
                                        </th>
                                        <th>Experience </th>
                                        <th>Specialization </th>
              
                                        <th>Clinic address</th>

                                        <th>Approve / Reject</th>
                                        <th>Device type</th>
                                        <th>Consultancy Fees</th>
                                        <!-- <th>Profile Stauts</th> -->
                                        <th style="width: 100px;">Live Stauts</th>
                                        <th style="width: 100px;text-align:center">
                                            Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-i="rowIndex">
                                    <tr class="tdrow">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <div class="imgthumcontainer" *ngIf="item.clinic_pic.length != 0"><img _ngcontent-dah-c159="" src="{{item.clinic_pic[0].clinic_pic}}" alt="" style="width: 100%;"></div>

                                        </td>
                                        <td>{{item.dr_title}}.{{item.dr_name}}</td>
                                        <td>{{item.clinic_name}}</td>

                                        <td>{{item.user_id.first_name}} {{item.user_id.last_name}} &  {{item.user_id.user_phone}}</td>

                                        <td>
                                            <ng-container *ngFor="let edu of item.education_details">
                                                {{edu.education}}-{{edu.year}} ,
                                            </ng-container>
                                        </td>
                                        <td class="truncate-cell">
                                            <ng-container *ngFor="let exp of item.experience_details">
                                                {{exp.company}}({{exp.from}}-{{exp.to}}) ,
                                            </ng-container>
                                        </td>
                                        <td class="truncate-cell">
                                            <ng-container *ngFor="let spec of item.specialization">
                                                {{spec.specialization}} ,
                                            </ng-container>
                                        </td>
                                       
                                        <td class="truncate-cell">{{item.clinic_loc}}</td>
                                        <td>
                                            {{item.profile_status}}
                                        </td>
                                        <td>{{item.user_id.mobile_type}}</td>
                                        <td>{{item.consultancy_fees}}</td>
                                        <td class="act">
                                                <button class="btn btn-success btn-sm" (click)="verify('Verified',item._id,item)" style="padding: 2px; line-height: 1.2;font-size: 12px !Important;"  *ngIf="item.profile_verification_status != 'Verified'">Approve</button>
                                                <button class="btn btn-danger btn-sm" (click)="verify('Not verified',item._id,item)" style="padding: 2px; line-height: 1.2;font-size: 12px !Important;" *ngIf="item.profile_verification_status == 'Verified'">Reject</button>
                                        </td>
                                        <td class="act">
                                           <i style="color: #2196f3;" class="fas fa-edit" aria-hidden="true" (click)="edit(item)" pTooltip="Edit"></i>
                                            <i style="color: #4CAF50;" class="fas fa-exclamation-circle" aria-hidden="true" (click)="view_details(item)"
                                                pTooltip="View"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>

                    <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

    </section>
