@import "../../../../assets/css/style.css";

:host::ng-deep .doc-table .ui-table table {
    width:1900px !important;
}
:host::ng-deep .ui-table-wrapper{
overflow-x: scroll;
}

.btn.btn-sm {font-size: 13px; padding: 7px 10px !important;  height: inherit;}