@import "../../../../assets/css/style.css";

:host::ng-deep .doc-table .ui-table table {
    width: 1600px !important;
}

:host::ng-deep .ui-table-wrapper {
    overflow-x: scroll;
}

.btn-danger1 {
    color: #fff;
    /* height: 30px; */
    min-width: 56px;
    font-size: 12px;
    /* margin-right: 10px; */
    background-color: #e31523;
}